*{
    box-sizing:border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color:gainsboro;
}

#calendar {
    margin: 80px auto;
    min-width: 400px;
    max-width: 500px;
    min-height: 400px;
    font-family: Arial;
    font-size: 12px;
}

 #calendar caption {
    text-align: left;
    padding: 15px 10px;
    background-color: deepskyblue;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#calendar caption div:nth-child(1) {
    float: left;
}

#calendar caption div:nth-child(2) {
    float: right;
    cursor: pointer;
    padding: 2px;
}

#calendar th {
    background-color: gold;
    color: #fff;
    height: 25px;
    width: 80px;
}

#calendar td {
    text-align: right;
    padding: 2px 5px;
    height: 50px;
    background-color: lightblue;
}

#calendar .hoy {
    background-color: lightcoral;
}

